#name {
    text-align: center;
    font-size: 1.3em;
    margin-bottom: 10px;
}

.skills-svg {
    width: 5.8em;
    margin: 1.6em 1.5em 2.8em 1em;
}

#footerContacts {
    display: inline-block;
}

.footerLocation {
    color: #E3E3E3;
}

.copyright {
    /*margin-top: 2.8em;*/
}

#projects {
    padding: 75px 0;
}

.project-image {
    width: 7em;
    margin: 2em auto 0 auto;
}

.project-link {
    margin: 1.5em auto 0 auto;
    text-align: center;
}

#map {
    display: block;
    height: 100%;
    margin: 0 5%;
}

#mapDiv {
    height: 400px;
    width: 100%;
    padding-bottom: 5%;
}
